<html>
  <body>
     <h1>
         Welcome to Mactan's wonderworld!
     </h1>
     <form class="form-inline" method="POST" action="{{ url_for('price') }}">
         <p>
              <label>Choose sports: </label>
              <select name="sports" method="POST" action="/">
              {% for each in selection %}
                  <option value="{{each}}">{{each}}</option>
              {% endfor %}
              </select>
          </p>
          <p>
              <button type="submit" class="btn btn-default">Decided</button>
          </p>
      </form>
      <p>
         <span>You should pay {{ sport }} pesso</span>
      </p>

  </body>
</html>
